.play-music {
  background-color: #111727 !important;
  height: 6rem;
}
.rhap_time,
.rhap_current-time {
  color: white !important;
}
::selection {
  background-color: transparent;
  color: aquamarine;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rhap_play-pause-button:hover {
  scale: 1.1;
}
.rhap_button-clear:hover {
  color: #fff;
}
